article, section, aside, hgroup, nav, header, footer, figure, figcaption {
  display: block;
}

body {
  font-family: 'Lato', sans-serif;
  color: #2d3c49;
  font-weight: 300;
}

.text-muted {
  color: #7d97ad;
}

.text-thin {
  font-weight: 100;
}


.title-super {
  font-size: 60px;
}

.title-logo {
  margin-top: 20px;
}

 hr {
  border: none;
  height: 4px;
  color: #7d97ad;
  background-color: #7d97ad;
}

img, embed, object, video {
  max-width: 100%;
}

nav a, button {
  min-width: 48px;
  min-height: 48px;
}
